.Header {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Header_logo {
    padding-left: 45%;
    letter-spacing: 4px;
    text-transform: uppercase;
} 

.Header_logo .title {
    font-weight: 700;
    font-style: italic;
    font-size: 24px;
}

.Header_toggle {
    padding-right: 20px;
}