.Hero {
    padding-left: 30px;
    padding-right: 30px;
}

.Hero_image>img {
    width: 100%;
    height: 70vh;
    object-position: top;
    object-fit: cover;
    display: block;

}


.Hero_text {

}